
@{
    decimal total = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}


<div class="row">
    <div class="col-12">
        <span>Total Local: <b>@total</b></span>
        <br />
        <span>Total Foreign: <b>@totalForeign</b></span>
    </div>
</div>